name: 16 - Working with Environments

on:
  workflow_dispatch:
    inputs:
        target-env:
            type: environment
            default: stating

jobs:
    echo:
      runs-on: ubuntu-latest
      environment: ${{inputs.target-env}}
      env:
        my-env-vlue: ${{vars.MY_ENV_VALUE || 'default value'}}
      steps:
        - name: Echo vars
          run: |
            echo "Env variables: ${{ env.my-env-value}}"